/* line 1, ../sass/imports/_reset.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/imports/_type.sass */
body {
  font-family: "HelveticaNeueLT Std Lt";
  font-style: 26px;
}

/* line 7, ../sass/main.sass */
body {
  overflow: hidden;
}

/* line 11, ../sass/main.sass */
.nowPlaying {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 23, ../sass/main.sass */
.nowPlaying-info {
  z-index: 110;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: right;
  padding-right: 74px;
  padding-bottom: 116px;
}

/* line 37, ../sass/main.sass */
.nowPlaying-info-artist {
  font-size: 36px;
}

/* line 41, ../sass/main.sass */
.nowPlaying-info-song {
  font-size: 64px;
  font-family: "HelveticaNeueLT Std Thin";
}

/* line 47, ../sass/main.sass */
.nowPlaying-bg {
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 56, ../sass/main.sass */
.nowPlaying-bg-item {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 63, ../sass/main.sass */
.nowPlaying-bg-item.main {
  background: url("../../files/albums/Regina Felangee/Smelly Shoes/artwork-1.jpg");
}
