@import "compass/utilities/general"
@import "compass/css3"

@import "imports/reset"
@import "imports/type"

body

	overflow: hidden

.nowPlaying-bg

	position: absolute

	width: 100%
	height: 100%

.nowPlaying-bg-item

	position: absolute

	width: 100%
	height: 100%

	&.main

		background: url("../../files/albums/Regina Felangee/Smelly Shoes/artwork-1.jpg")