* {
  margin: 0;
  padding: 0;
}

body {
  background: #CCC;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #333;
}

.field {
	/*-webkit-transform-style: preserve-3d;*/
	/*-webkit-transform: rotate3d(0, 1, 0, 10deg);*/
}